<div class="container">

<br>
<br>
<br>

<div style="text-align: center;">
    <a class="btn btn-warning" style="cursor:pointer;color:black;" (click)="selectTipo('Estudiante')">Estudiante</a>
    <a class="btn btn-warning"  style="cursor:pointer;color:black;margin-left:50px;" (click)="selectTipo('Contratista')">Contratista</a>
</div>
<app-estudiante-create *ngIf="selected == 'Estudiante'"></app-estudiante-create>
<app-contratista-create *ngIf="selected == 'Contratista'"></app-contratista-create>

</div>