<div class="container">
	<br>
	<div>
		<div class="row">
			<div class="col-12">
				<div class=" card dos">
					<div class="card-body">
						<div class="row">
							<div class="col-9">

								<h3 class="card-title">{{ofertaDetail.nombre}}</h3>
							</div>
							<div class="col-2">
								<button (click)="aplicar(ofertaDetail.id)" type="button" id="btn-aplicar" class="btn btn-block btn-dark">Aplicar</button>
							</div>
							<div class="col-1">
							</div>

						</div>

						<div class="row">
							<div class="col-12 gris">
								<p class="card-text">{{ofertaDetail.categoria}}</p>
							</div>

						</div>
						<div class="row">
								<div class="col-12 gris">
									<p class="card-text" >{{ofertaDetail.pagoPorHora}} (Por hora)  -  {{ofertaDetail.horasDeTrabajo}} Horas  -  Publicada: </p>
								</div>
	
							</div>

					</div>

				</div>


			</div>


		</div>
		<div class="row">

			<div class="col-8">
				<div class=" card uno ">
					<div class="card-body">

						<h4 class="card-text">Descripción</h4>
						<ul>{{ofertaDetail.descripcion}}</ul>
						<h4 class="card-text">Requisitos</h4>
						<ul>{{ofertaDetail.requisitos}}</ul>

					</div>
				</div>
			</div>
			<div class="col-4">
				<div class=" card uno" style="width: 95%;">
					<div class="card-header ">
						<h5>Detalles de la oferta</h5>
					</div>
					<div class="card-body">

						<h4 class="card-text"></h4>
						<p class="card-text">{{ofertaDetail.nombre}}</p>
						<h5 class="card-text">Empresa</h5>
						<p class="card-text">Biblioteca Uniandes</p>
						<h5 class="card-text">Horas de trabajo</h5>
						<p class="card-text">{{ofertaDetail.horasDeTrabajo}}</p>
						<h5 class="card-text">Pago por hora</h5>
						<p class="card-text">{{ofertaDetail.pagoPorHora | currency}}</p>
						<div *ngIf="ofertaDetail.tipoOferta===2">
								<h5 class="card-text">Porcentaje de pago adicional</h5>
								<p class="card-text">{{ofertaDetail.porcentajePagoAdicional}}%</p>

								<h5 class="card-text">Tiempo maximo de aplicacion</h5>
								<p class="card-text">{{ofertaDetail.tiempoMaximoAplicacion}} Dias</p>

								


						</div>
						


						<button (click)="aplicar(ofertaDetail.id)" type="button" class="btn btn-block btn-dark">Aplicar</button>



					</div>

				</div>
				<div class=" card uno" style="width: 95%;">
					<div class="card-header ">
						<h5>Horario</h5>
					</div>
					<div class="card-body">

						<h4 class="card-text"></h4>
						<div *ngFor="let subcategory of ofertaDetail.horario|splitComma">

							<h6 class="card-text">{{subcategory}}</h6>
						</div>


					</div>

				</div>
				
			</div>
		</div>
	</div>
	<h1></h1>
	<br><br>



</div>