

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    
    min-height: 100%;
   
    
}
.blanco{
    color: white;
    white-space: nowrap;
}
.orden{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(32, 32, 32);
}


#numof{
    border-color: white;
    height: 30%;
}

#scroll {
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 40%;
    
    }



#btn-crear{
    float: right;
    margin:2%;
}
.gris{
    color: rgb(185, 180, 180);
}
.imagen-peque{
    width: 130px; 
    height: 60px;
    }

   
    