<div class="row">

<div class="card-deck">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let e of ofertas">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{e.name}}</h5>
                    <p class="card-text">{{e.id}}</p>
                    <p class="card-text"><small class="text-muted">sff</small></p>

                    <a href="#" class="btn btn-primary" routerLink="/ofertas/{{e.id}}">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>