<div id="container2" class="container2">

<div class="container">

		<br>
		<h4>Cantidad de facturas efectivas:  {{getCantidadFacturas()}} ,  Cantidad de dinero ganado: {{getCantidadDinero()}}</h4>

		<br>
		<button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#exampleModalLong">
				Crear Factura
		</button>
		<br><br>
		<div class="row justify-content-md-center">
		

		<div class="col-12">
				<div class="row">
					<div class ="card-columns">
					
						<div *ngFor="let e of facturas" class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);background-color:#858288; border-radius:1rem;margin-top:10px;padding:40px;padding-left:5px;padding-right:5px;color:black;">
						<div class="card-body">
							<h5 class="card-title">Id: {{e.id}}</h5>
							<h5 class="card-title">Fecha de facturación: {{e.fecha}}</h5>
							<h5 class="card-title">Valor de la factura: {{e.valor}}</h5>
							<br>
				
						</div>
						</div>
				</div>
	
			</div>
		</div>

		<div>Proyecto Hiring</div>
		<div>Uniandes Ingeniera de sistemas</div>
		<div>Semestre 201920- Grupo 4</div>

		</div> 
</div>

</div>


<div class="col">
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
					<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLongTitle">Crear factura</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
					</div>
				
					<div class="modal-body">
						<app-factura-create></app-factura-create>
					</div>
				</div>
			</div>
		</div>
</div>
