<div class="container">
	<div class="row">
		<div class="card" style="width: 15rem;" >
			<img src= {{tarjetadecreditoDetail.image}} class="card-img-top" >
			<div class="card-body">
				<h5 class="card-title">{{tarjetadecreditoDetail.nombre}}</h5>
				<ul>
                    <li>Titular: {{tarjetadecreditoDetail.titular}}</li>
					<li>Numero: {{tarjetadecreditoDetail.numero}}</li>
                    <li>Fecha: {{tarjetadecreditoDetail.fecha}}</li>
                    <li>Cvc: {{tarjetadecreditoDetail.cvc}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>