

<div class="container">
	<div class="row">
		<div class="card" style="width: 20rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6); border-radius:1rem;" >
			<img src="http://www.transparentpng.com/thumb/credit-card/8p4jX1-blank-credit-card-pic.png" width=500 height=300 class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Tarjeta de Credito</h5>
				<ul>
					<li>Numero: {{tarjetadecreditoDetail.numero}}</li>
					<li>Fecha: {{tarjetadecreditoDetail.fecha}}</li>
					<li>Cvc: {{tarjetadecreditoDetail.cvc}}</li>
				</ul>
			</div>
		</div>
	</div>
</div> 