<form [formGroup]="clientForm" style="margin-top:20px;" (ngSubmit)="!clientForm.invalid && createContratista(clientForm.value)">

    <div style="padding:60px;">
        <div style="display:flex;flex-direction: row;justify-content: center; color: white;">
            <h4 style="color:black;">Crear Contratista</h4>
        </div>
        
            <div style="display:flex;flex-direction: row;justify-content: center;">
  
                
                  <input novalidate
                  id="nombre"
                  class="dataField"
                    formControlName="nombre"
                    placeholder="Nombre">
  
                   
                        
                
            </div>
            
            <div style="display:flex;flex-direction: row;justify-content: center;">
                <input id="email" type="text"
                         class="dataField"
                         formControlName="email"
                         placeholder="E-mail">
            </div>
            <div style="display:flex;flex-direction: row;justify-content: center;">
                <input id="rutaImagen" type="text"
                class="form-control"
                formControlName="rutaImagen"
                placeholder="rutaImagen de la oferta">
                <input id="pass" class="dataField" style="width:300px;" type="password" placeholder="Contraseña">
                <input type="checkbox" id="esExterno" formControlName="esExterno"/>
            </div>
            <div style="display:flex;flex-direction: row;justify-content: center;">
                <a (click)="createEstudiante()" class="btn btn-warning" style="border-radius:30px;margin-top:20px;width:200px;cursor:pointer;border-color:#FFC14F;color:white;background-color:#FFB13F!important;">Crear</a>
            </div>
        
    </div>
  
  </form>
  

 