<div class="container-fluid">
	<div class="col-4">

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nota</th>
					<th>Comentario</th>
			 
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let e of calificaciones">
					<td>{{e.id}}</td>		
					<td> {{e.nota}}</td>
					<td>{{e.comentario}}</td>
							 	
				</tr>
			</tbody>
		</table>

		<div class="col-8">
				<div>
					<app-calificacion-detail></app-calificacion-detail>
				</div>

				<div>
					<app-calificacion-create></app-calificacion-create>
				</div>
			</div> 

	</div>