<div>
<h4>Name: {{estudianteDetail.name}}</h4>
<h4>Description:</h4>
<p>
  {{estudianteDetail.description}}
</p>
<h4>Features:</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Feature</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>color</td>
      <td>{{estudianteDetail.color}}</td>
    </tr>
    <tr>
     
      <td>capacity</td>
      <td>{{estudianteDetail.capacity}}</td>
    </tr>
    <tr>
      
      <td>stock</td>
      <td>{{estudianteDetail.stock}}</td>
    </tr>
  </tbody>
</table>

</div>