

.container2{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    
}




.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blanco{
    color: white;
    white-space: nowrap;
}
.orden{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(32, 32, 32);
}


#numof{
    
    height: 30%;
}

#scroll {
    overflow-y: scroll;
    
    
    height: 40%;
    
    }

    .container2{
        
        overflow-y:auto;
       
        
        min-height: 100%;
       
        margin: 0;
        padding: 0;
        
    }
    


#btn-crear{
    float: right;
    margin:2%;
}
.gris{
    color: rgb(185, 180, 180);
}
.imagen-peque{
    width: 130px; 
    height: 60px;
    }

   
    