<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-contratista-create></app-contratista-create>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

<div >

    <div class="container overflow-auto">
                <div class="row">
                    <div class="card col-12" style="background-color:  #353436;border-color:  #353436;" >
    
                        <h4 class="card-text" style="color: white;">{{numContratistas()}} Contratistas registrados</h4>
    
                    </div>
                </div>
    
    
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 95%;border-color:  #353436;">
                    <div class="card-header " style="background-color: #FFC14F;">
                        <p style="color:white; font-size:20px;">Filtros</p>
                    </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
    
                                <input type="text" id="filtro" class="form-control" placeholder="Sector" aria-label="Username"
                                aria-describedby="basic-addon1"><br><br>
                                <button type="button" class="btn btn-block blanco" style="background-color:  #353436;"
                                (click)="getOfertasFiltradas()">Buscar</button>
    
                            </div>
                        </div>
    
                </div>
    
               
            </div>
    
            <div class="col-9 ">
                <nav class="nav  orden" style="background-color: #FFC14F;">
                    
                        <div class="col-2">
                                <p class="nav-link blanco" style="white-space: nowrap">Ordenar por: </p>
                        </div>
                        <div class="col-1"><a class="nav-link active blanco" href="#">Nombre</a></div>
                        <div class="col-1"><a class="nav-link blanco" href="#">Ofertas</a></div>
                        <div class="col-1"><a class="nav-link blanco" href="#">Pago promedio</a></div>
                        <div class="col-3"></div>
                        <div class="col-4">
                            
                              <!-- Button trigger modal -->

  
                                <!---button type="button" style="white-space: nowrap" class="btn btn-primary btn-md btn-block" id="btn-crear" data-toggle="modal"
                                data-target="#exampleModalLong">
                                Crear Contratista
                            </button-->
                        </div>
                   
                    
                    
                </nav>
                <div *ngFor="let e of contratistas">
                    <div class="card " >
    
                        <div class="card-body">
                            <div class="row">
                            <div class="col-9"><h4 class="card-text"><a class="nav-link " routerLink="/contratistas/{{e.id}}"
                                routerLinkActive="active">{{e.nombre}}</a></h4></div>
                            <div class="col-3 hidden-xs">
                                <img class="imagen-peque" src="{{e.rutaImagen}}">
    
                            </div>
                        </div>
                            
    
                        </div>
    
    
    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
                </div>
              </div>
          </div>
          <div  calss="col-sm">
            
  
          </div>
  
        </div> 
  
      </div>
      
  </div>
  
