<div style="width:100%">

  <div id="container2" class="container2">
    <div class="firstS">
      <div id="one">
        <div style="margin:20px;height:100%;float:left;display: flex;flex-direction: column;justify-content: center;">
          <img class="astro" style="margin-top:40px;margin-right: 150px;width:275px; height:275px;"
            src="./images/astro.png">
        </div>
        <div style="margin:20px;margin-top:150px;display:flex;flex-direction:column;justify-content:center;">
          <div class="firstStable" style="padding-left: 70px;padding-right: 70px;">
            <div
              style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;display:inline-block;font-size: 38px;">
              <span style="color:#2196F3;">H</span>
              <span style="color:#ffffff;">iring</span>
            </div>
            <hr style="border-top:1px solid #9ccaf0">
            <div
              style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;font-size: 25px;">
              1.0.0
            </div>
            <hr style="border-top:1px solid #9ccaf0">
            <div
              style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;font-size: 25px;">
              Web
            </div>
            <hr style="border-top:1px solid #9ccaf0">
            <div style="padding-left: 20px;padding-right: 20px;font-family:caviardreamsbold;font-size: 20px;">
              <div class="bt"
                style="font-family:caviardreamsbold;padding-top: 15px;padding-bottom: 15px;border-radius: 5px;">
                <a style="text-decoration:none;color:inherit;padding-left: 20px;padding-right: 20px;"
                  href="./signup/index.html" target="_blank"> Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div style="display:flex;flex-direction:row;justify-content:center;font-size:20px;">
        By signing up, you agree to the <span class="hoverBlue" style="margin-left:5px;"> Terms and Conditions.</span>
      </div>
      <div style="margin-top:30px;display:flex;flex-direction:row;justify-content:center;">
        <div class="hoverBlue" style="float:left;margin-right:20px;">License</div>
        <div class="hoverBlue" style="float:right;margin-left:20px;">Get on GitHub</div>
      </div>
    </div>
    <div class="secondS" style="display:flex;flex-direction:row;justify-content:center;">
      <div style="font-size:35px;">
        A well designed <span style="color:#FA899B;">reader</span> for the productive people
      </div>
    </div>
    <div style="display:flex;flex-direction:row;justify-content:center;">
      <div class="tag">
        <div onclick="jumpTo(1)">Proper navigation</div>
        <div onclick="jumpTo(2)">Battery-efficient</div>
        <div onclick="jumpTo(3)">Awesome features</div>
      </div>
    </div>
    <div class="thirdS">
      <div style="width:100%;height:500px;display:flex;flex-direction:row;justify-content:center;">
        <div style="width:50%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="margin-left:-8px;width:100%;height:auto;border-radius:10px;" src="./images/ss1.png">
        </div>
        <div style="width:37%;height:500px;padding-top:20px;">
          <div style="padding:60px;color:#b76e7f;">
            <div id="f" style="font-size:30px;margin-bottom:20px;color:#FA899B;">
              Beautiful UI
            </div>
            <div style="font-size:18px;">
              Every aspect of SoftReader is two-clicks away from you. Our UI is so intuitive that we can assure you'll
              be using smoothly the reader within five minutes!
              <br><br> The screen is divided into three parts; left, center, and right, which respectively shows you the
              previous page, the options, and the next page.
              <br><br><br><br>
              <span class="btP" style="font-family:caviardreamsbold;padding:12px;border-radius:5px;border-radius: 5px;">
                Learn more
              </span>
            </div>
          </div>
        </div>
        <div style="width:13%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="width:100%;height:auto;" src="./images/vec1.png">
        </div>
      </div>
      <div style="padding-top:30px;height:250px;width:100%;">
        <img style="width:70%;height:auto;" src="./images/dec1.png">
      </div>
      <div style="width:100%;height:500px;display:flex;flex-direction:row;justify-content:center;">
        <div style="width:13%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="width:100%;height:auto;" src="./images/vec2.png">
        </div>
        <div style="width:37%;height:500px;padding-top:20px;">
          <div style="padding:60px;">
            <div id="s" style="font-size:30px;margin-bottom:20px;color:#2196F3;">
              Lightweight software
            </div>
            <div style="font-size:18px;">
              SoftReader platform was developed with softness of motion in mind. Therefore, we needed to use fast
              algorithms which ended up with two main features: speedness and little computational time.
              <br><br> Diminishing the computational time required to run our services affects directly the percentaje
              of battery used.
              <br><br><br><br>
              <span class="bt" style="font-family:caviardreamsbold;padding:12px;border-radius:5px;border-radius: 5px;">
                Learn more
              </span>
            </div>
          </div>
        </div>
        <div style="width:50%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="margin-left:8px;width:100%;height:auto;border-radius:10px;" src="./images/ss2.png">
        </div>
      </div>
      <div style="height:250px;width:100%;">
        <img style="width:70%;height:auto;" src="./images/dec2.png">
      </div>
      <div style="width:100%;height:500px;display:flex;flex-direction:row;justify-content:center;">
        <div style="width:50%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="margin-left:-8px;width:100%;height:auto;border-radius:10px;" src="./images/ss3.png">
        </div>
        <div style="width:45%;height:500px;padding-top:20px;">
          <div style="padding:60px;color:#b76e7f;">
            <div id="t" style="font-size:30px;margin-bottom:20px;color:#FA899B;">
              Online reading revolutionized
            </div>
            <div style="font-size:18px;">
              Want to fast-read a text? There is an incredible method that ensures you reading 300 pages in 3 hours. So
              amazing!
              <br><br> Do you need your hands free? Are your eyes tired? Convert any pdf to an audio book.
              <br><br> Are you reading a book in another language and don't know that word's meaning? We tell you the
              meaning and translation!
              <br><br>
              <div>
                <div>
                  <div style="width:40%;margin:10px;display:inline-block;">
                    <div>
                      <div style="display:inline-block;height:20px;">
                        <div style="height: 36px;border-radius:5px;padding:8px;float:left;background-color:#1f1f1f;">
                          <img style="height:20px;width:auto;" src="./images/design.png">
                        </div>
                        <div style="float:left;margin-top:8px;">
                          <span style="margin-left:15px;font-family:caviardreamsbold;color:#FA899B;">Design</span>
                        </div>
                      </div>
                    </div>
                    <div style="font-size:15px;margin-top:20px;">
                      Fall in love with our design.
                    </div>
                  </div>
                  <div style="width:40%;margin:10px;display:inline-block;">
                    <div>
                      <div style="display:inline-block;height:20px;">
                        <div style="height: 36px;border-radius:5px;padding:8px;float:left;background-color:#1f1f1f;">
                          <img style="height:20px;width:auto;" src="./images/tictac.png">
                        </div>
                        <div style="float:left;margin-top:8px;">
                          <span style="margin-left:15px;font-family:caviardreamsbold;color:#FA899B;">Tic Tac</span>
                        </div>
                      </div>
                    </div>
                    <div style="font-size:15px;margin-top:20px;">
                      Make your wpm ratio easily jump over 500!
                    </div>
                  </div>
                </div>
                <div>
                  <div style="width:40%;margin:10px;display:inline-block;">
                    <div>
                      <div style="display:inline-block;height:20px;">
                        <div style="height: 36px;border-radius:5px;padding:8px;float:left;background-color:#1f1f1f;">
                          <img style="height:20px;width:auto;" src="./images/hertz.png">
                        </div>
                        <div style="float:left;margin-top:8px;">
                          <span style="margin-left:15px;font-family:caviardreamsbold;color:#FA899B;">Hertz</span>
                        </div>
                      </div>
                    </div>
                    <div style="font-size:15px;margin-top:20px;">
                      Listen to any pdf without buying its audiobook!
                    </div>
                  </div>
                  <div style="width:40%;margin:10px;display:inline-block;">
                    <div>
                      <div style="display:inline-block;height:20px;">
                        <div style="height: 36px;border-radius:5px;padding:8px;float:left;background-color:#1f1f1f;">
                          <img style="height:20px;width:auto;" src="./images/guru.png">
                        </div>
                        <div style="float:left;margin-top:8px;">
                          <span style="margin-left:15px;font-family:caviardreamsbold;color:#FA899B;">Guru</span>
                        </div>
                      </div>
                    </div>
                    <div style="font-size:15px;margin-top:20px;">
                      Get the meaning of a word in any language.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="width:5%;height:500px;display:flex;flex-direction:column;justify-content:center;">
          <img style="width:160%;height:auto;margin-left:-80px;" src="./images/vec3.png">
        </div>
      </div>
      <div class="OpSo">
        <div style="padding-top:130px;padding-left:220px;height:100%;width:50%;float:left;">
          <div style="font-size:30px;color:#2196F3;">Open Source</div>
          <div style="padding-right:100px;margin-top:65px;ont-size:18px;">
            SoftReader is open source. We encourage you to be an active part of this platform development. Also, you can
            use our code in your own projects.
          </div>
          <div class="bt"
            style="font-family:caviardreamsbold;margin-top:65px;padding:12px;width:140px;border-radius:5px;">
            <a style="text-decoration:none;color:inherit;" target="_blank" href="https://github.com/DaveDDH">Fork on
              GitHub</a>
          </div>
        </div>
        <div style="padding-top:130px;padding-left:100px;padding-right:0px;height:100%;width:50%;float:right;">
          <div style="width:70%;float:left;">
            <div style="font-size:30px;color:#FA899B;">Keep in touch</div>
            <div style="margin-top:65px;font-size:18px;">
              <span style="display:inline-block;margin-right:15px;width:100px;">Github</span>
              <span class="hl" style="cursor:pointer;display:inline-block;">
                <a style="text-decoration:none;color:inherit;" target="_blank" href="">A</a>
              </span>
            </div>
            <div style="font-size:18px;">
              <span style="display:inline-block;margin-right:15px;width:100px;">E-mail</span>
              <span class="hl" style="cursor:pointer;display:inline-block;">A</span>
            </div>
            <div style="font-size:18px;white-space:nowrap;">
              <span style="display:inline-block;margin-right:15px;width:100px;">Facebook</span>
              <span class="hl" style="cursor:pointer;display:inline-block;">
                <a style="text-decoration:none;color:inherit;" target="_blank" href="">A</a>
              </span>
            </div>
          </div>
          <div style="width:30%;float:right;display:flex;flex-direction:column;justify-content:center;">
            <div>
              <img style="width:100%;height:auto;" src="./images/vec1.png">
            </div>
            <div>
              <img style="width:100%;height:auto;" src="./images/vec2.png">
            </div>
          </div>
        </div>
      </div>
      <div class="finish">
        <div class="finishdiv">
          <span><b>Terms of Use</b></span>
        </div>
        <div class="finishdiv">
          <span><b>Releases</b></span>
        </div>
        <div class="finishdiv">
          <span><b>FAQ</b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>

</div>