

<div id="container2" class="container2">
    <div class="container">
        <div class="s01">
          <br>
          <br>
          <br>
          <form>
            <fieldset>
              <legend>Bienvenido a Hiring</legend>
            </fieldset>
            <div class="inner-form">
              <div class="input-field first-wrap">
                <input id="search" type="text" placeholder="Que estas buscando?" />
              </div>
              
              <div class="input-field third-wrap">
                <button class="btn-search"  type="button" (click)="buscar()" >Buscar</button>  
                
              </div>
            </div>
          </form>
        </div>
      
      </div>
    <div class="firstS">
      <div id="one">
        <div style="margin:20px;height:100%;float:left;display: flex;flex-direction: column;justify-content: center;">
          <img class="astro" style="margin-top:40px;margin-right: 150px;width:275px; height:275px;" src="../../assets/logo_v1.png">
        </div>
        <div style="margin:20px;margin-top:150px;display:flex;flex-direction:column;justify-content:center;">
          <div class="firstStable" style="padding-left: 90px;padding-right: 90px;">
              <div style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;display:inline-block;font-size: 38px;">
                <span style="color:#FFC14F;">H</span>
                <span style="color:#ffffff;">iring</span>
              </div>
              <hr style="border-top:1px solid #DDCAAC">
              <div style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;font-size: 25px;">
                1.0.0
              </div>
              <hr style="border-top:1px solid #DDCAAC">
              <div style="padding-left: 20px;padding-right: 20px;padding-top:10px;padding-bottom:10px;font-family:caviardreams;font-size: 25px;">
                Web
              </div>
              <hr style="border-top:1px solid #DDCAAC">
              <div style="padding-left: 20px;padding-right: 20px;font-family:caviardreamsbold;font-size: 20px;">
                <div class="bt" style="font-family:caviardreamsbold;padding-top: 15px;padding-bottom: 15px;border-radius: 5px;">
                  <a style="text-decoration:none;color:inherit;padding-left: 15px;padding-right: 15px;" href="./signup/index.html" target="_blank"> Sign up</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
        <div style="display: flex; flex-direction: row; justify-content: center;font-size:14px;">
          Al registrarse, acepta los <span class="hoverBlue">Términos y Condiciones.</span>
        </div>
      <div style="margin-top:30px;display:flex;flex-direction:row;justify-content:center;">
        <div class="hoverBlue" style="float:left;margin-right:20px;">Licencia</div>
        <div class="hoverBlue" style="float:right;margin-left:20px;">Get on GitHub</div>
      </div>
    </div>
    <div class="secondS" style="display: flex; flex-direction: row; justify-content: center;">
        <div style="font-size:35px;">
          Una única y bien diseñada <span style="color:#FA899B;">bolsa de empleos</span> para universidades
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
    <div class="tag">
        <div onclick="jumpTo(1)">Buena navegación</div>
        <div onclick="jumpTo(2)">Eficiencte</div>
        <div onclick="jumpTo(3)">Características geniales</div>
      </div>
    </div>
    <div class="thirdS">
      <div class="OpSo">
        <div style="padding-top:130px;padding-left:220px;height:100%;width:50%;float:left;">
          <div style="font-size:30px;color:#2196F3;">Open Source</div>
          <div style="padding-right:100px;margin-top:65px;font-size:18px;">
            Hiring es open source. Te invitamos a ser una parte activa del desarrollo de esta plataforma (por favor, necesitamos ayuda).
          </div>
          <div class="bt" style="font-family:caviardreamsbold;margin-top:65px;padding:12px;width:140px;border-radius:5px;">
            <a style="text-decoration:none;color:inherit;" target="_blank" href="">Fork on Github</a>
          </div>
        </div>
        <div style="padding-top:130px;padding-left:100px;padding-right:0px;height:100%;width:50%;float:right;">
          <div style="width:70%;float:left;">
            <div style="font-size:30px;color:#FA899B;">Manténgase en contacto</div>
            <div style="margin-top:65px;font-size:18px;">
              <span style="display:inline-block;margin-right:15px;width:100px;">Github</span>
              <span class="hl" style="cursor:pointer;display:inline-block;">
                <a style="text-decoration:none;color:inherit;" target="_blank" href=""></a>
              </span>
            </div>
            <div style="font-size:18px;">
              <span style="display:inline-block;margin-right:15px;width:100px;">E-mail</span>
              <span class="hl" style="cursor:pointer;display:inline-block;"></span>
            </div>
            <div style="font-size:18px;white-space:nowrap;">
              <span style="display:inline-block;margin-right:15px;width:100px;">Facebook</span>
              <span class="hl" style="cursor:pointer;display:inline-block;">
                <a style="text-decoration:none;color:inherit;" target="_blank" href=""></a>
              </span>
            </div>
          </div>
          <div style="width:30%;float:right;display:flex;flex-direction:column;justify-content:center;">
            <div>
              <img style="width:100%;height:auto;" src="../../assets/vec1.png">
            </div>
            <div>
              <img style="width:100%;height:auto;" src="../../assets/vec2.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>