<div id="container2" class="container2">


<div class="container" >
	<div class="row">
			<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);background-color:#FFC14F; border-radius:1rem;margin-top:10px;padding:40px;padding-left:5px;padding-right:5px;color:black;">
					<div class="card-body">
				<h5 class="card-title"></h5>
				<ul>
                    <li>Titular: {{cuenta2.contratisa}}</li>
					<li>Numero: {{cuenta2.numeroCuentaDeCobro}}</li>
					<li>Concepto: {{cuenta2.concepto}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>