<div id="cont">
<div style="margin-top:-30px;height:780px;display:flex;flex-direction:column;justify-content:center;">
      <div style="display:flex;flex-direction: row;justify-content: center;">
      <div>
        <img src="../../assets/astro.png" style="width:70px;height:70px;">
      </div>
      </div>
      <div style="display:flex;flex-direction: row;justify-content: center;">
      <div style="margin-top:20px;font-size:20px;">Sign in to <span style="color:#FFC14F;">H</span>iring</div>
    </div>
    <div style="margin:20px auto;width:23%;border:1px solid #888888;border-radius:5px;background-color:white;padding:20px;">
      <div>Email address</div>
      <div style="height:35px;">
        <input id="email" style="padding:5px;height:100%;width:100%;font-family:caviardreamsbold;font-size:15px;">
      </div>
      <div style="margin-top:20px;">Password</div>
      <div style="height:35px;">
        <input id="pass" type="password" style="padding:5px;height:100%;width:100%;font-family:caviardreamsbold;font-size:15px;">
      </div>
      <div id="but" (click)="signin()" style="text-align:center;cursor:pointer;margin-top:20px;color:white;border-radius:5px;background-color:#FFC14F;width:100%;height:35px;display:flex;flex-direction:column;justify-content:center;">
        
        Sign in

      </div>
    </div>
    
    <div style="margin-top:20px;display:flex;flex-direction: row;justify-content: center;">
        <span class="link">
          <a style="text-decoration:none;color:inherit;" href="" target="_blank">Terms</a></span>
        <span class="link" style="margin-left:20px;">
          <a style="text-decoration:none;color:inherit;" href="">Home</a>
        </span>
      </div>
    
  </div>
</div>